<h1 class="title has-text-primary">Minhas candidaturas</h1>

<% if @applications.size > 0 %>
    <div class="columns is-multiline">
        <% @applications.each do |application| %>
            <div class="column is-12-mobile is-6-tablet is-4-desktop">
                <div class="card p-2">
                    <div class="card-header has-background-primary">
                        <div class="card-header-title has-text-white"><%= application.job.title %></div>
                    </div>

                    <div class="card-content">
                        <p>Contratante: <%= application.job.company.name %></p>
                        <p><%= application.job.description %></p>
                        <p>Candidatura: <%= application.created_at %></p>
                        <p>Atualizada: <%= application.updated_at %></p>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% end %>