<h1>Vagas de trabalho</h1>

<table class="table">
  <thead>
    <tr>
      <th><%= Job.human_attribute_name("title") %></th>
      <th><%= Job.human_attribute_name("description") %></th>
      <th><%= Job.human_attribute_name("level") %></th>
      <th><%= Job.human_attribute_name("quantity") %></th>
      <th><%= Job.human_attribute_name("deadline_for_registration") %></th>
      <th><%= link_to  "Cadastrar vaga", new_employees_backoffice_job_path(), class: 'button is-success' %></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
    <tr id="tr_<%= job.id %>">
      <td><%= job.title %></td>
      <td><%= job.description %></td>
      <td><%= job.level %></td>
      <td><%= job.quantity %></td>
      <td><%= job.deadline_for_registration %></td>
      <td>
        <div class="buttons">
          <%= link_to edit_employees_backoffice_job_path(job), class: 'button is-warning' do %>
            <i class="fas fa-edit"></i> Editar
          <% end %>
          <%= link_to employees_backoffice_job_path(job), class: "button is-link" do %>
            <i class="fa fa-eye" aria-hidden="true"></i> Visualizar
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>