<div>
  <h1 class="title">Dados da empresa</h1>
</div>

<div>
  <h2 class="subtitle"><%= @company.name %></h2>
  <p class="subtitle"><%= @company.email_suffix %></p>
  <p class="subtitle">Cnpj: <%= @company.cnpj %></p>
  <p class="subtitle">site: <%= @company.site %></p>
  <p class="subtitle">país: <%= @company.country %></p>
  <p class="subtitle">estado: <%= @company.state %></p>
  <p class="subtitle">cidade: <%= @company.city %></p>
  <p class="subtitle">cep: <%= @company.zip_code %></p>
  <p class="subtitle">bairro: <%= @company.neighborhood %></p>
  <p class="subtitle">logradouro: <%= @company.logradouro %></p>
  <p class="subtitle">criado em: <%= @company.created_at %></p>
  <p class="subtitle">atualizado em: <%= @company.updated_at %></p>
</div>