<h1>Listagem das candidaturas</h1>

<% if @applications.empty? %>
  <div class="card">
    <article class="message is-warning">
      <div class="message-body">
        <strong>Até agora nenhuma candidatura foi recebida</strong>
      </div>
    </article>
  </div>
<% else %>
  <div class="columns is-multiline">
    <% @applications.each do |application| %>
      <div id="card_<%= application.id %>" class="column is-12-mobile is-6-tablet is-4-desktop is-4-fullhd">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title"><%= application.job.title %></div>
          </div>

          <div class="card-content">
            <p><%= application.id %></p>
            <p><%= application.candidate.id %></p>
          </div>

          <div class="card-footer">
            <div class="card-footer-item">
              <% if application.pending_evaluation? %>
                <%= link_to 'Analisar candidatura', employees_backoffice_application_path(application), class: 'button is-warning', id: "btn_#{application.id}" %>
              <% else %>
                <% if application.proposal %>
                  <button class="button is-success">Proposta enviada!</button>
                <% else %>
                  <button class="button is-danger">Candidatura declinada!</button>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
<% end %>