<!DOCTYPE html>
<html>
  <head>
    <title>QueroVagasTi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Isso vai mudar -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/nav_employee" %>

    <div class="container mb-1">
      <% if alert %>
        <article class="message is-danger">
          <div class="message-body">
            <%= alert %>
          </div>
        </article>
      <% end %>

      <% if notice %>
        <article class="message is-info">
          <div class="message-body">
            <%= notice %>
          </div>
        </article>
      <% end %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    
  </body>
</html>
